<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img class="avatar" src="assets/img/avatar.jpg" alt="">
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">Contact</div>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fas fa-at"></i> <span> yassine.kharchaf@gmail.com</span>
          </li>
          <li class="list-group-item">
            <i class="fab fa-github"></i> <span> /yassinekharchaf</span>
          </li>
          <li class="list-group-item">
            <i class="fab fa-linkedin"></i> <span> /yassine-kharchaf</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <div class="card mb-4">
      <div class="card-body">
        <h1 class="card-title">Yassine Kharchaf</h1>
        <div class="card-title text-muted">Freelance | Full stack developer / code addict</div>
        <p>Code addict and continuous learner. My brain is stucked in a programming mode which makes me try to "ctrl +
          s" in real world.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Project</h1>
        <h3><span class="badge badge-secondary">ULB MyHelsci</span></h3>
        <p>Developing a webapp solution to manage the courses, manage the student,
        </p>
        <ul>
          <li>Manage the courses</li>
          <li>Manage the students</li>
          <li>Automatic the list of presence</li>
          <li>Automatic and analyse feed back for courses</li>
          <li>Automatic communication through mails</li>
        </ul>
        <h3><span class="badge badge-secondary">Coding School</span></h3>
        <p>Developing a coding school with already 135 student
          trained.
          Create courses, content, exercises and maintaining it
          up to date with new technologie.
        </p>

        <h3><span class="badge badge-secondary">MolenGeek Lead Developer</span></h3>
        <p>Project Manager, developer and fireman debugger.</p>
        <h3><span class="badge badge-secondary">YakPress</span></h3>
        <p>A framework to develop wordpress themes and plugins</p>
        <h3><span class="badge badge-secondary">Yakademi Youtube CHannel</span></h3>
        <p>A Youtube channel that teach skills to become a web developer</p>
        <h3><span class="badge badge-secondary">TekTalk</span></h3>
        <p>Meet-up for all level developers to share and
          present new technologies or practices</p>
        <h3><span class="badge badge-secondary">Blink Me</span></h3>
        <p>Domotic project to improve security for bikes and scooters users</p>
      </div>
    </div>
  </div>

</div>
