<div class="row">
  <div class="col-md-4">
    <img class="avatar" src="/assets/img/avatar.jpg" alt="">
  </div>
  <div class="col-md-8">

    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Yassine Kharchaf</mat-card-title>
          <mat-card-subtitle>Freelance | Full stack developer / code addict</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Code addict and continuous learner. My brain is stucked in a programming mode which makes me try to "ctrl +
            s" in real world.</p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Side project</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>YakPress</strong>, | A framework to develop wordpress themes and plugins</p>
          <p><strong>TekTalk</strong> | Meet-up for all level developers to share and
            present new technologies or practices</p>
          <p><strong>Blink Me</strong> | Domotic project to improve security for bikes and scooters users</p>
          <p><strong>Yakademi Youtube Channel</strong> | A Youtube channel that teach skills to become a web developer
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
