.avatar {
  max-width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}

:host::ng-deep {

  .mat-card-header-text {
    margin: 0px;
  }

  .mat-grid-tile.left-column figure {
    align-items: start;
  }

  .mat-grid-tile .mat-figure {
    padding: 5px;
  }
}

mat-card {
  width: 100%;
  margin-bottom: 20px;
}
