<header>
  <img src="/assets/img/yakdev-logo.png" alt="" srcset="">
</header>
<mat-toolbar>
  <a routerLink="/" mat-raised-button>
    <mat-icon>account_circle</mat-icon> <span>About me</span>
  </a>
  <a routerLink="/skills" mat-raised-button>
    <mat-icon>build</mat-icon> <span>Skills</span>
  </a>
  <a routerLink="/services" mat-raised-button>
    <mat-icon>category</mat-icon> <span>Services</span>
  </a>
  <a routerLink="/portfolio" mat-raised-button>
    <mat-icon>dashboard</mat-icon> <span>Portfolio</span>
  </a>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
