<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let service of services"><button mat-flat-button
                  (click)="updateCurrentService(service)">{{service.name}}</button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">

          <h2 class="card-title text-center">{{currentService.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
